%% -*- mode: erlang; erlang-indent-level: 4; indent-tabs-mode: nil -*-
%% -------------------------------------------------------------------
%%
%% Copyright (c) 2007-2017 Basho Technologies, Inc.
%%
%% This file is provided to you under the Apache License,
%% Version 2.0 (the "License"); you may not use this file
%% except in compliance with the License.  You may obtain
%% a copy of the License at
%%
%%   http://www.apache.org/licenses/LICENSE-2.0
%%
%% Unless required by applicable law or agreed to in writing,
%% software distributed under the License is distributed on an
%% "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
%% KIND, either express or implied.  See the License for the
%% specific language governing permissions and limitations
%% under the License.
%%
%% -------------------------------------------------------------------
{minimum_otp_vsn, "24.0"}.

{src_dirs, [
    "priv/tracers",
    "src"
]}.

{erl_opts, [
    debug_info,
    warnings_as_errors,
    {d, 'TEST_FS2_BACKEND_IN_RIAK_KV'},
    {d, namespaced_types},
    {d, set_env_options},
    {i, "./_build/default/plugins/gpb/include"}
]}.

{cover_enabled, false}.

{edoc_opts, [{preprocess, true}]}.

{eunit_opts, [verbose]}.

{xref_checks, [undefined_function_calls, undefined_functions]}.

%% XXX yz_kv is here because Ryan has not yet made a generic hook interface for object modification
%% XXX yz_stat is here for similar reasons -- we do not yet support dynamic stat hooks
%% XXX object is here because it's a new Lager sync
{xref_queries, [{"(XC - UC) || (XU - X - B - \"(cluster_info|dtrace|yz_kv|yz_stat|object)\" : Mod)", []}]}.

{erl_first_files, [
    "src/riak_kv_backend.erl"
]}.

{plugins, [
    {rebar3_gpb_plugin,
        {git, "https://github.com/basho/rebar3_gpb_plugin.git",
            {branch, "develop-3.2"}}},
    {eqc_rebar,
        {git, "https://github.com/Quviq/eqc-rebar",
            {branch, "master"}}}
]}.

{gpb_opts, [
    {module_name_suffix, "_pb"},
    {i, "src"}
]}.

{dialyzer, [{plt_apps, all_deps}]}.

{provider_hooks, [
    {pre, [{compile, {protobuf, compile}}]}
]}.

{profiles, [
    {test, [{deps, [meck]}]},
    {gha, [{erl_opts, [{d, 'GITHUBEXCLUDE'}]}]}
]}.

{deps, [
    {riak_core,
        {git, "https://github.com/basho/riak_core.git",
            {branch, "develop-3.2"}}},
    {sidejob,
        {git, "https://github.com/basho/sidejob.git",
            {branch, "develop-3.2"}}},
    {bitcask,
        {git, "https://github.com/basho/bitcask.git",
            {branch, "develop-3.2"}}},
    {redbug,
        {git, "https://github.com/basho/redbug.git",
            {branch, "develop-3.2"}}},
    {recon,
        {git, "https://github.com/basho/recon.git",
            {branch, "develop-3.2"}}},
    {sext,
        {git, "https://github.com/basho/sext.git",
            {branch, "develop-3.2"}}},
    {riak_pipe,
        {git, "https://github.com/basho/riak_pipe.git",
            {branch, "develop-3.2"}}},
    {riak_dt,
        {git, "https://github.com/basho/riak_dt.git",
            {branch, "develop-3.2"}}},
    {riak_api,
        {git, "https://github.com/basho/riak_api.git",
            {branch, "develop-3.2"}}},
    {hyper,
        {git, "https://github.com/basho/hyper.git",
            {branch, "develop-3.2"}}},
    {kv_index_tictactree,
        {git, "https://github.com/basho/kv_index_tictactree.git",
            {branch, "develop-3.2"}}},
    {rhc,
        {git, "https://github.com/basho/riak-erlang-http-client.git",
            {branch, "develop-3.2"}}}
]}.
